:root {
  --blackColor: #000000;
  --bgGrey: #8b8b8b1a;
  --primaryColor: #5c31f7;
  --whiteColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: var(--bgGrey);
  color: var(--blackColor);
}
